@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: #006eff6d;
  color: #fff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 90%;
  margin: auto;
}
button {
  background: #ff6f00;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}
.row {
  width: 50%;
}
p {
  line-height: 30px;
}
.flex {
  display: flex;
}
.control-btn button {
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-btn .next {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 99;
}
.control-btn .prev {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 99;
}
.heading h2 {
  font-weight: 500;
  margin: 30px 0;
}
.heading a {
  color: orange;
}
.movieBox {
  /* max-width: 430px; */
  width: 100%;
  height: 600px;
  position: relative;
  transition: 0.5s;
  border-left: 5px solid transparent;
}
.movieBox:hover {
  cursor: pointer;
  border-left: 5px solid orange;
  transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25rem);
  box-shadow: 0 0 0.73em rgba(0, 0, 0, 0.9);
}
.movieBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 600px;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(0, 110, 255, 0.4),
    rgba(0, 110, 255, 0.3),
    rgba(0, 110, 255, 0.2),
    rgba(0, 110, 255, 0.1),
    rgba(0, 110, 255, 0)
  );
}
.movieBox img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movieBox .text {
  padding: 70px 50px;
}
.movieBox h3 {
  font-weight: 500;
  margin-bottom: 15px;
}
.movieBox button {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 13px;
  cursor: pointer;
}
.movieBox button svg {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .movieBox {
    width: 100%;
    height: 450px;
    position: relative;
    transition: 0.5s;
    border-left: 5px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
  }
  .movieBox .text {
    padding: 0;
    margin-bottom: 1rem;
  }
  .row {
    width: 100%;
  }
  .flex {
    display: block;
  }
  /* .upcome {
    background: green;
  } */
}
