.trending {
  margin-top: 50px;
}
.trending h1 {
  font-size: 90px;
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .trending {
    position: relative;
    height: auto !important;
  }
  .trending h1 {
    font-size: 50px;
    margin: 0;
  }
  .trending .coverImage img {
    width: 100vw;
    min-height: 100%;
    object-fit: cover;
  }
  /* .trending .content {
    flex-direction: column;
    padding: 50px;
    background: green;
  }
  .trending .row {
    width: 100%;
  } */
}
